-- DropForeignKey
ALTER TABLE "EnvironmentSensor" DROP CONSTRAINT "EnvironmentSensor_zoneId_fkey";

-- DropIndex
DROP INDEX "EnvironmentSensor_zoneId_idx";

-- AlterTable
ALTER TABLE "EnvironmentSensor" DROP COLUMN "lat",
DROP COLUMN "lng",
DROP COLUMN "status",
DROP COLUMN "zoneId",
ADD COLUMN     "co" DOUBLE PRECISION NOT NULL DEFAULT 0.5,
ADD COLUMN     "no2" DOUBLE PRECISION NOT NULL DEFAULT 10.0,
ADD COLUMN     "noise" DOUBLE PRECISION NOT NULL DEFAULT 50.0,
ADD COLUMN     "pm10" DOUBLE PRECISION NOT NULL DEFAULT 20.0,
ADD COLUMN     "rainfall" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
ADD COLUMN     "sensorType" TEXT NOT NULL DEFAULT 'MULTISENSOR',
ADD COLUMN     "uv" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
ADD COLUMN     "windSpeed" DOUBLE PRECISION NOT NULL DEFAULT 5.0;

