-- AlterTable
ALTER TABLE "CityAsset" ADD COLUMN     "energyAssetId" TEXT;

-- AlterTable
ALTER TABLE "StreetLight" ADD COLUMN     "energyAssetId" TEXT;

-- CreateTable
CREATE TABLE "EnergyAsset" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'TRANSFORMER',
    "zoneId" TEXT NOT NULL,
    "lat" DOUBLE PRECISION NOT NULL,
    "lng" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'NORMAL',
    "capacity" DOUBLE PRECISION NOT NULL DEFAULT 100,
    "currentLoad" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "temperature" DOUBLE PRECISION,
    "voltage" DOUBLE PRECISION,
    "powerState" TEXT DEFAULT 'ON',
    "lastSeen" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "parentId" TEXT,

    CONSTRAINT "EnergyAsset_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "EnergyAsset_zoneId_idx" ON "EnergyAsset"("zoneId");

-- CreateIndex
CREATE INDEX "EnergyAsset_parentId_idx" ON "EnergyAsset"("parentId");

-- CreateIndex
CREATE INDEX "CityAsset_energyAssetId_idx" ON "CityAsset"("energyAssetId");

-- CreateIndex
CREATE INDEX "StreetLight_energyAssetId_idx" ON "StreetLight"("energyAssetId");

-- AddForeignKey
ALTER TABLE "CityAsset" ADD CONSTRAINT "CityAsset_energyAssetId_fkey" FOREIGN KEY ("energyAssetId") REFERENCES "EnergyAsset"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreetLight" ADD CONSTRAINT "StreetLight_energyAssetId_fkey" FOREIGN KEY ("energyAssetId") REFERENCES "EnergyAsset"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EnergyAsset" ADD CONSTRAINT "EnergyAsset_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "EnergyAsset"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "EnergyAsset" ADD CONSTRAINT "EnergyAsset_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES "Zone"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

